.App {
  font-family: sans-serif;
  text-align: center;
}

.remaining {
  font-size: 88px;
}

ul {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 70%;
}

li {
  list-style: none;
  width: 300px;
  border: 1px solid #ccc;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 75px 25px;
  position: relative;
}

li button {
  padding: 5px 25px;
  margin: 0 10px;
}

li h3 {
  display: block;
}

.question {
  display: inline-block;
}

.question span {
  background: #fafafa;
  border: 1px solid #ccc;
  padding: 0px 4px;
  border-radius: 25px;
  font-size: 13px;
  position: relative;
  font-weight: normal;
  cursor: pointer;
  z-index: 1;
  bottom: 8px;
  left: 2px;
}

.description {
  transition: 500ms opacity ease-in-out;
  background: rgba(250, 250, 250, 0.96);
  border: 1px solid #dedede;
  padding: 15px 25px;
  width: 225px;
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: left;
}

.description.show {
  opacity: 1;
}

.description.hide {
  opacity: 0;
}

.warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
  padding: 15px 25px;
  max-width: 85%;
  margin: 16px auto;
  text-align: left;
}

.warning svg {
  width: 20px;
  margin-right: 5px;
  position: relative;
  top: 8px;
}

.warning svg g {
  fill: #664d03;
}
